<div class="footer">
    <div class="container">
       <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
             <img class="logo1" src="../public/images/logo2.png" alt="#"/>

             <ul class="social_icon">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
             </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
             <h3>Sobre Nosotros</h3>
             <ul class="about_us">


                <li>Somos una comunidad sin fines de lucro que desarrolla varias cosas para la comunidad</li>
             </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
             <h3>Legal</h3>
             <ul class="conta">
                <a href="#"><li class="nav-item">Terminos de Servicio</li></a>
                <a href="#"><li class="nav-item">Politica de Privacidad</li></a>
                <a href="#"><li class="nav-item">Creditos</li></a>
             
             </ul>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
             <h3>Productos</h3>
             <ul class="conta">
                <a href="https://keyderdev.github.io/Currentlysmartest/"><li class="nav-item">CurrentlySmartest</li></a>
                <a href="https://keyderdev.github.io/Currentlysmartest/"><li class="nav-item">Infinity | Discord Bot</li></a>
             </ul>
          </div>

       </div>
    </div>
    <div class="copyright">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <p>© 2022 Todos los derechos reservados.</p>
             </div>
          </div>
       </div>
    </div>
 </div>